:root {
    --bg-main: #1c1a17;
    --bg-container: #2a2722;
    --text-color: #f3e8c0;
    --border-color: #665a45;
    --input-bg: #3a342b;
    --input-border: #665a45;
    --box-background: #ffffff;
    --box-border: #7b674a;
    --box-active-bg: #c04b4b;
    --box-active-border: #8a2a2a;
    --box-injured-bg: #555;
    --box-injured-border: #888;
    --section-border: #4d4336;
    --collapsible-bg: #3a342b;
    --button-bg: #4a4235;
    --button-border: #8d7a59;
    --delete-btn-bg: #4d4336;
    --delete-btn-text: #ffffff;
    --row-bg: rgba(50, 45, 40, 0.6);
    --panel-bg:  #3a342b;
    --shadow: rgba(0, 0, 0, 0.5);
    --input-color: #f3e8c0;
    --button-color: #f3e8c0;

    --pulse-color: #8d7a59;   /* barva pulsujícího boxu */
    --pulse-color-light: #f3e8c0; /* světlejší verze pro stín */
    --pulse-duration-box: 1.5s;              /* délka animace pro box */
    --pulse-duration-btn: 2s;                /* délka animace pro tlačítko */
}
